.assistance__modal {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
	margin-top: 1rem;

	.assistance__form {
		width: 100%;

		display: flex;
		flex-direction: column;
	}

	.assistance__info {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}
