.Footer {
	background-color: var(--primary-color);
	padding: 1rem 0;
	h4 {
		color: var(--bg-color);
	}
	.Row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 1rem 0;
		a {
			color: var(--bg-color);
		}
		&:last-child {
			padding-bottom: 0;
		}
		&:first-child {
			border-bottom: 2px solid var(--bg-color);
		}
	}
	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		li,
		a {
			font-size: 1.25rem;
			margin-bottom: 0.5rem;
		}
	}
	.Copyright {
		color: var(--bg-color);
	}
}
@media screen and (max-width: 610px) {
	.Row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
